:root {--first-color: violet;
    --second-color: gold;
    --third-color: white;
  }
  
  
  
* {
  box-sizing: border-box;
    
  }
  
  body {
    color: var(--2ndcolor);
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("assets/images/388261.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    background-color: var(--2ndcolor);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  
  
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--second-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--second-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--first-color);
    color: white;
    border-radius: 15px;
    text-shadow: none;
    
  }
  


 /*about me*/
  .about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    
  }
  
  
  .about-me {
    width: 35%;
    text-align: center;
    margin: 3.5%;
    color: var(--third-color);
    font-size: 30px;
    line-height: 1.2;
    background-color: rgba(0, 0, 0, 0.5);
    
  }


  .about-me img {
    border-radius: 50%;
  }
  
  .about-me h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--second-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }


/*projects*/
  .project {
    padding: 10 10 10 10;
 
   
  }


  .project h3 {
    font-size: 40px;
    color: var(--third-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: underline;
    
  
  
  }
    

  .task {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 100px;
    padding: 50 0 50 0;
    
    justify-content: space-between;

  
      
  }

  .runbuddy img {
    max-height: 300px;
    max-width: 300px;
  }

 .runbuddy2 img {
    max-height: 300px;
    max-width: 300px;
}

  .ucla img {
  max-width: 300px;
}

  .project ol li a{
  color: white;
  font-size: 20px;
  font-weight: bold;
 
  

}

.project ol li a:hover{
  background-color: violet;
  
  
}

.task {
  text-align: center;
}

.project ol li a img {
  border-radius: 50px;


  
}

.project ol li a img:hover {
  background-color: white;
}





.resume {
  display: flex;
  justify-content: space-evenly;
  
}


.res {
  font-size: 40px;
  color: var(--third-color);
  text-decoration: underline;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 1);
 
  
  
  
  
}

.resume img {
  border-radius: 20%;
  max-height: 600px;
  max-width: 600px;
 
  

}/*resume end*/





/*contact me*/


.con {
  
  justify-content: space-evenly;
  font-size: 40px;
  color: var(--third-color);
  text-decoration: underline;
  display: flex;
  flex-wrap: wrap;
}



.contact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.add {
  color: white;
}
